@import "tailwindcss";
@import "./fonts/font.css";


body{
    font-family:'GT Walsheim Pro', 'system-ui', 'sans-serif', 'ui-sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
/*   
  h1, h2, h3{
    font-family:'GT Walsheim Bold', 'system-ui', 'sans-serif', 'ui-sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;

} */


:root {
  --primary-500: #6F3DCB; 
  --primary-50: #F1ECFA; 
  --success: #F0F5EA;  
  --success_text: #669F2A;  
  --error: #FCE8E7;
  --error-700: #B42318;
  --gray-50: #FFFFFF;
  --gray-100: #F4F4F4;
  --gray-200: #E3E3E3;
  --gray-400: #8B8B8A;
  --gray-500: #565655;
  --gray-800: #565655;
 }